body {
    margin: 0;
    padding: 0;
}

/* Home Work 1.3  */

header {
    background-color: #9B6F6F;
    height: 13vh;
}


header,
.news section,
.contents section,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

header,
footer {
    color: white;
}
main {
    height: 74vh;
    display: flex;
}
.news {
    width: 30vw;
}

.news1 {
    background-color: #D9D9D9;
    height: 24.66vh;
}

.news2 {
    background-color: #AA9898;
    height: 24.66vh;
}

.news3 {
    background-color: #C5BBBB;
    height: 24.66vh;
}

.contents {
    display: flex;
}

.content1 {
    background-color: #8A8484;
    width: 35vw;
}

.content2 {
    background-color: #C0B3B3;
    width: 35vw;
}

footer {
    background-color: #524B4B;
    height: 13vh;
}


/* End */