/*Скидання стилів*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 1024px;
    width: 100%;
    /*overflow: hidden;*/
    background-color: #19191B;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/

.wrapper {
    height: 100vh;
    width: 83vw;
    margin: 0 auto;
}

.main-page__top {
    display: flex;
    justify-content: space-between;
    padding-top: 4.7vh;
    margin: 0 auto;
}

.main-page__logo {
    display: flex;
    align-items: center;
}

.main-page__logo-text {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 140%; /* 39.2px */
    padding-left: 0.5vw;
}

.main-page__menu-link,
.main-page__contact-us {
    color: white;
    font-family: "Lato", sans-serif;
    text-decoration: none;
}

.main-page__menu-list {
    display: flex;
    height: 100%;
    align-items: center;
}

.main-page__menu-link {
    padding-left: 3vw;
    font-size: 16px;
}

.main-page__contact-us {
    background-color: #19191B;
    border: 1px white solid;
    border-radius: 5px;
    padding: 0.4vh 3.1vw;
    backdrop-filter: blur(1px);
}


/*  */
.main-page-content {
    display: flex;
    justify-content: space-between;
    width: 88vw;
}

.main-page-content__body {
    margin-top: 7.6vw;
    width: 40vw;
}

.main-page-content__title,
.main-page-content__text,
.main-page-content__button {
    color: white;
}

.main-page-content__title {
    font-family: Lato sans-serif;
    font-size: 80px;
    font-style: normal;
    line-height: 84px; /* 105% */
}

.main-page-content__text {
    width: 34vw;
    margin-top: 2vh;
    color: rgba(255, 255, 255, 0.70);
    font-family: Lato sans-serif;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.657px;
}

.main-page-content__button {
    background-color: #5454D4;
    border-radius: 4px;
    padding: 1.4vh 3.4vw;
    font-family: Lato sans-serif;
    font-size: 20px;
    margin-top: 4.8vh;
}

.main-page-content__image img {
    max-width: 100%;
}


/* Second Page*/
.second-page {
    height: 100vh;
}

.second-page__top {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.second-page__top-title {
    width: 39vw;
    color: #FFF;
    font-family: Lato sans-serif;
    font-size: 4.2vw;
    line-height: 70px;
}

.second-page__top-text {
    padding-left: 24px;
    width: 39vw;
    color: rgba(255, 255, 255, 0.70);
    font-family: Lato sans-serif;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.657px;
}


.second-page__image img {
    max-width: 100%;
    margin-top: 50px;
}


/*!* Media *!*/
/*!* Великі девайси (великі десктопи, < 1200px) *!*/
@media screen and (max-width: 1200px) {
    .wrapper {
        width: 83vw;
    }
    .main-page-content__title {
        font-size: 60px;
        line-height: 70px;
    }

    .main-page-content__text {
        font-size: 18px;
        line-height: 34px;
    }

    .main-page-content__button {
        font-size: 18px;
        padding: 11px 28px;
        margin-top: 3vh;
    }

    /*Second page*/
    .second-page__image img {
        height: 53vh;
    }
    /*.second-page__top-title {*/
    /*    font-size: 50px;*/
    /*}*/
}


@media screen and (max-width: 992px) {
    .wrapper {
        width: 83vw;
    }

    .main-page-content__button {
        font-size: 16px;
        padding: 11px 28px;
        margin-top: 3vh;
    }


    .main-page__menu-link {
        font-size: 12px;
    }

    .main-page__contact-us {
        font-size: 12px;
        padding: 3px 25px;
    }

    .main-page-content__body {
        width: 30vw;
    }
    .main-page-content__title {
        font-size: 40px;
        line-height: 55px;
    }

    .main-page-content__text {
        width: 100%;
        font-size: 15px;
        line-height: 30px;
    }

    .main-page-content__button {
        font-size: 16px;
    }

    .second-page__top-title {
        /*font-size: 40px;*/
        line-height: 50px;
    }

    .second-page__top-text {
        font-size: 16px;
        line-height: 30px;
    }


    /*Second page*/
    .second-page__image img {
        height: 43vh;
    }
}



/* Малі девайси (горизонтальні телефони, < 768px) */
@media screen and (max-width: 768px) {
    .main-page__menu,
    .main-page__contact-us {
        display: none;
    }

    .main-page-content__title {
        font-size: 35px;
        line-height: 50px;
    }

    .main-page-content__text {
        font-size: 13px;
        line-height: 20px;
    }

    .main-page-content__button {
        font-size: 12px;
        padding: 8px 22px;
        margin-top: 20px;
    }


    /*Second page*/
    .second-page__image img {
        height: 35vh;
    }
}

@media screen and (max-width: 620px) {
    .main-page-content__body {
        margin-top: 50px;
    }

    .main-page-content {
        flex-direction: column;
        align-items: center;

    }

    .main-page-content__body {
        width: 100%;
    }

    .main-page-content__title {
        width: 60%;
    }

    .main-page-content__text {
        width: 90%;
    }

    .main-page-content__image img {
        width: 374px;
        height: 406px;
    }

    .main-page-content__text {
        width: 70%;
    }

    .main-page__logo img {
        width: 27px;
        height: 27px;
    }

    .main-page__logo-text {
        font-size: 23px;
    }
    /*Second page*/
    .second-page__top {
        flex-direction: column;
    }

    .second-page__top-title {
        width: 80%;
        font-size: 34px;
        line-height: 150%;
    }
    .second-page__top-text {
        width: 80%;
        font-size: 16px;
        line-height: 150%;
        padding: 0;
        margin-top: 30px;
    }
    .second-page__image img {
        margin-top: 50px;
        width: 100%;
        height: 30vh;
    }
}


@media screen and (max-width: 425px) {
    .second-page__top-title {
        width: 100%;
    }
    .second-page__top-text {
        width: 85%;
    }
    .second-page__image img {
        height: 20vh;
    }
}